@model List<Record>
<div class="row">
    <div class="col-md-2 pt-3">
        <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle container-fluid ml-2" data-toggle="dropdown">Lưu trữ</button>
            <div class="dropdown-menu container-fluid">
                <a class="dropdown-item" href="#">Link 1</a>
                <a class="dropdown-item" href="#">Link 2</a>
                <a class="dropdown-item" href="#">Link 3</a>
            </div>
        </div>
        <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle container-fluid ml-2" data-toggle="dropdown">Tìm kiếm</button>
            <div class="dropdown-menu  container-fluid">
                <a class="dropdown-item" href="#">Link 1</a>
                <a class="dropdown-item" href="#">Link 2</a>
                <a class="dropdown-item" href="#">Link 3</a>
            </div>
        </div>
    </div>
    <div class="col-md-10 pt-3">
        <div class="row">
            <div class="col-7 border rounded mx-auto">
                <div name="nav">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Danh mục tài liệu</a>
                            <hr class="bg-primary" />
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#">So sánh tài liệu</a>
                            <hr />
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#">Thêm ghi chú</a>
                            <hr />
                        </li>
                    </ul>
                </div>
                <div name="table">
                    <table class="table text-center table-responsive">
                        <thead>
                            <tr>
                                <th>Tài liệu</th>
                                <th>Loại tài liệu</th>
                                <th>Ngày sửa đổi</th>
                                <th>Phiên bản</th>
                                <th colspan="2">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var record in Model)
                            {
                                <tr id="@record.Category.Name">
                                    <form asp-controller="Homepage" asp-action="Index" asp-route-id="@record.id">
                                    <td><input type="submit" value="@record.document_name" style="border: none; background-color: white;" /></td>
                                    </form>
                                    <td>@record.Category.Name</td>
                                    <td>@record.last_fix phút trước</td>
                                    <td>@record.version</td>
                                    <td><a class="btn btn-primary btn-sm text-white">Mở</a></td>
                                    <td><a asp-controller="Homepage" asp-action="Delete" asp-route-id="@record.id" onclick="return confirm('Bạn có chắc chắn muốn xóa tài liệu này?')" class="btn btn-danger btn-sm text-white">Xóa</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div>
                        Loại tài liệu &nbsp;
                        @foreach (var category in ViewBag.Categories)
                        {
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" onclick="filter('@category.Name')" name="opradio">@category.Name
                                </label>
                            </div>
                        }
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" onclick="filter(1)" name="opradio">Tất cả
                            </label>
                        </div>
                    </div>
                    <div class="my-2">
                        <a asp-action="ChoosingTemplate" asp-controller="Homepage" class="btn btn-primary container-fluid">Thêm mới</a>
                    </div>
                </div>
            </div>
            <div class="col-4 border rounded mx-auto" name="preview">
                <h5 class="text-center">Xem trước tài liệu</h5>
                @if (TempData["image"] == null)
                {
                    <div class="bg-light d-flex justify-content-center align-items-center">320x320</div>
                }
                else
                {
                    <div class="bg-light d-flex justify-content-center align-items-center"><img src="~/image/@TempData["image"]" width="100%" height="320px" /></div>
                }
                <button class="btn btn-primary container-fluid mt-3">Chỉnh sửa chi tiết</button>
            </div>
        </div>
        <div class="row">
            <div class="col-9">
                <h5 class="text-primary">Thông tin chi tiết</h5>
                <hr class="bg-primary" />
                <div class="row">
                    <div class="col-3 form-group">
                        <label for="document-id">Mã tài liệu:</label>
                        @if (TempData["document_id"] != null)
                        {
                            <input type="text" class="form-control" id="document-id" value="@TempData["document_id"]">
                        }
                        else
                        {
                            <input type="text" class="form-control" id="document-id">
                        }
                    </div>
                    <div class="col-3 form-group">
                        <label for="document-type">Loại tài liệu:</label>
                        @if (TempData["category_id"] == null)
                        {
                            <select class="form-control" id="document-type">
                                <option value="0">Hãy chọn loại tài liệu</option>
                                @foreach (var category in ViewBag.Categories)
                                {
                                    <option value="@category.Id">@category.Name</option>
                                }
                            </select>
                        }
                        else
                        {
                            <select class="form-control" id="document-type">
                                @foreach (var category in ViewBag.Categories)
                                {
                                    if (category.Id.ToString() == TempData["category_id"].ToString())
                                    {
                                        <option value="@category.Id" selected>@category.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@category.Id">@category.Name</option>
                                    }
                                }
                            </select>
                        }
                    </div>
                    @if (TempData["signed_day"] == null)
                    {
                        <div class="col-3 form-group">
                            <label for="signed-day">Ngày ký:</label>
                            <input type="date" class="form-control" id="signed-day">
                        </div>
                    }
                    else
                    {
                        <div class="col-3 form-group">
                            <label for="signed-day">Ngày ký:</label>
                            <input type="text" class="form-control" id="signed-day" value="@TempData["signed_day"].ToString()">
                        </div>
                    }
                    <div class="col-3 form-group">
                        <label for="book-number">Số sổ:</label>
                        @if (TempData["book_number"] != null)
                        {
                            <input type="text" class="form-control" id="book-number" value="@TempData["book_number"]">
                        }
                        else
                        {
                            <input type="text" class="form-control" id="book-number">
                        }
                    </div>
                </div>
                <div class="row">
                    @if (TempData["dear_to"] == null)
                    {
                        <div class="col-6 form-group">
                            <label for="dear_to">Kính gửi:</label>
                            <textarea rows="3" class="form-control" id="dear_to"></textarea>
                        </div>
                    }
                    else
                    {
                        <div class="col-6 form-group">
                            <label for="dear_to">Kính gửi:</label>
                            <textarea rows="3" class="form-control" id="dear_to">@TempData["dear_to"]</textarea>
                        </div>
                    }
                    @if (TempData["destination"] == null)
                    {
                        <div class="col-6 form-group">
                            <label for="destination">Nơi nhận:</label>
                            <textarea rows="3" class="form-control" id="destination"></textarea>
                        </div>
                    }
                    else
                    {
                        <div class="col-6 form-group">
                            <label for="destination">Nơi nhận:</label>
                            <textarea rows="3" class="form-control" id="destination">@TempData["destination"]</textarea>
                        </div>
                    }
                </div>
                <div>
                    @if (TempData["content"] == null)
                    {
                        <div class="form-group">
                            <label for="content">Nội dung:</label>
                            <textarea rows="5" class="form-control" id="content"></textarea>
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            <label for="content">Nội dung:</label>
                            <textarea rows="5" class="form-control" id="content">@TempData["content"]</textarea>
                        </div>
                    }
                </div>
                <div><button class="btn btn-primary float-right">Cập nhật</button></div>
            </div>
            <div class="col-3">
                <h5>Các tài liệu liên quan</h5>
            </div>
        </div>
    </div>
</div>
<script>
    function filter(cate){
        document.getElementById("Nghị định").classList.remove("hide");
        document.getElementById("Thông báo").classList.remove("hide");
        document.getElementById("Quyết định").classList.remove("hide");
        if(cate === "Quyết định"){
            document.getElementById("Nghị định").classList.add("hide");
            document.getElementById("Thông báo").classList.add("hide");
        }
        else if(cate === "Nghị định")
        {
            document.getElementById("Quyết định").classList.add("hide");
            document.getElementById("Thông báo").classList.add("hide");
        }
        else if (cate === "Thông báo"){
            document.getElementById("Nghị định").classList.add("hide");
            document.getElementById("Quyết định").classList.add("hide");
        }
        else{
            document.getElementById("Nghị định").classList.remove("hide");
            document.getElementById("Thông báo").classList.remove("hide");
            document.getElementById("Quyết định").classList.remove("hide");
        }
    }
</script>


