@model List<Record>
<div class="row">
    <div class="col-md-2 pt-3">
        <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle container-fluid ml-2" data-toggle="dropdown">Lưu trữ</button>
            <div class="dropdown-menu container-fluid">
                <a class="dropdown-item" href="#">Link 1</a>
                <a class="dropdown-item" href="#">Link 2</a>
                <a class="dropdown-item" href="#">Link 3</a>
            </div>
        </div>
        <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle container-fluid ml-2" data-toggle="dropdown">Tìm kiếm</button>
            <div class="dropdown-menu  container-fluid">
                <a class="dropdown-item" href="#">Link 1</a>
                <a class="dropdown-item" href="#">Link 2</a>
                <a class="dropdown-item" href="#">Link 3</a>
            </div>
        </div>
    </div>
    <div class="col-md-10 pt-3">
        <div class="row">
            <div class="col-7 border rounded mx-auto h-100">
                <div name="nav" class="h-25">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Danh mục tài liệu</a>
                            <hr class="bg-primary" />
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#">So sánh tài liệu</a>
                            <hr />
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#">Thêm ghi chú</a>
                            <hr />
                        </li>
                    </ul>
                </div>
                <div name="table" class="h-50">
                    <table class="table text-center">
                        <thead>
                            <tr>
                                <th>Tài liệu</th>
                                <th>Loại tài liệu</th>
                                <th>Ngày sửa đổi</th>
                                <th>Phiên bản</th>
                                <th colspan="2">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var id = 1;
                                var document_id = "";
                            }
                            @foreach (var record in Model)
                            {
                                <tr>
                                    <td id="@(id)" class="d-none">@record.document_id</td>
                                    <script>
                                        function display(id) {
                                            let id_value = document.getElementById(id).textContent;
                                            let document_id = document.getElementById("document-id");
                                            document_id.value = id_value;
                                            let book_number = document.getElementById("book-number");
                                            book_number.value = "@record.book_number";
                                        }
                                    </script>
                                    <td onclick='display(@(id));'>@record.document_name</td>
                                    <td>@record.document_type</td>
                                    <td>@record.last_fix phút trước</td>
                                    <td>@record.version</td>
                                    <td><a class="btn btn-primary btn-sm text-white">Mở</a></td>
                                    <td><a class="btn btn-danger btn-sm text-white">Xóa</a></td>
                                </tr>
                                id++;
                            }
                        </tbody>
                    </table>
                    <div>
                        Loại tài liệu
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="optradio">Quyết định
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="optradio">Nghị định
                            </label>
                        </div>
                        <div class="form-check-inline disabled">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="optradio">Thông tư
                            </label>
                        </div>
                        <div class="form-check-inline disabled">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="optradio">Thông báo
                            </label>
                        </div>
                    </div>
                    <div class="my-2">
                        <button class="btn btn-primary container-fluid">Thêm mới</button>
                    </div>
                </div>
            </div>
            <div class="col-4 border rounded mx-auto mh-100" name="preview">
                <h5 class="text-center">Xem trước tài liệu</h5>
                <div class="bg-light d-flex justify-content-center align-items-center h-75">320x320</div>
                <button class="btn btn-primary container-fluid mt-3">Chỉnh sửa chi tiết</button>
            </div>
        </div>
        <div class="row">
            <div class="col-9">
                <h5 class="text-primary">Thông tin chi tiết</h5>
                <hr class="bg-primary" />
                <div class="row">
                    <div class="col-3 form-group">
                        <label for="document-id">Mã tài liệu:</label>
                        <input type="text" class="form-control" id="document-id">
                    </div>
                    <div class="col-3 form-group">
                        <label for="document-type">Loại tài liệu:</label>
                        <select class="form-control" id="document-type">
                            <option value=""></option>
                            <option value="Nghị định">Nghị định</option>
                            <option value="Quyết định">Quyết định</option>
                            <option value="Thông báo">Thông báo</option>
                            <option value="Thông tư">Thông tư</option>
                        </select>
                    </div>
                    <div class="col-3 form-group">
                        <label for="signed-day">Ngày ký:</label>
                        <input type="date" class="form-control" id="signed-day">
                    </div>
                    <div class="col-3 form-group">
                        <label for="book-number">Số sổ:</label>
                        <input type="text" class="form-control" id="book-number">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 form-group">
                        <label for="receive">Kính gửi:</label>
                        <textarea rows="3" class="form-control" id="receive"></textarea>
                    </div>
                    <div class="col-6 form-group">
                        <label for="destination">Nơi nhận:</label>
                        <textarea rows="3" class="form-control" id="destination"></textarea>
                    </div>
                </div>
                <div>
                    <div class="form-group">
                        <label for="content">Nội dung:</label>
                        <textarea rows="5" class="form-control" id="content"></textarea>
                    </div>
                </div>
                <div><button class="btn btn-primary float-right">Cập nhật</button></div>
            </div>
            <div class="col-3">
                <h5>Các tài liệu liên quan</h5>
            </div>
        </div>
    </div>
</div>


